BODY{position:relative;} 
div.version_form
{
    /*position:absolute;*/
    width:800px;
    height:200px;
    left:50%;
    top:50%;
    /*margin-top:-320px;*/
    /*margin-left:-400px;*/
    background: none repeat scroll 0 0 #E6F1F6;
    border: 1px solid #C5D5DD;
    border-radius: 4px 4px 4px 4px;
    /*margin: 100px 100px;*/
    padding: 8px 8px 0;
    color: #213F4D;
    font-size: 18px;
    font-weight: bold;
    /*margin: 0 0 8px;*/
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
